<!DOCTYPE html>
<html>
    <head>
        <title>Another Layout Template</title>

        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/favicon.ico">

        @*Imports the header file*@
        @Html.ModFrameHeader()
    </head>
    <body>
        @* This is used to ensure the sticky footer stays at the bottom *@
        <div class="footerWrapper">

            @*Imports the navigation menu file*@
            @Html.LayoutView("AnotherLayout", "navigation.cshtml")

            <div class="container mt-4">
                @RenderBody()
            </div>
        </div>

        @*Imports the footer file*@
        @Html.LayoutView("AnotherLayout", "footer.cshtml")

        @*Imports the footer file*@
        @Html.ModFrameFooter()
</body>
</html>